.matters_section h2 {
    font-size: 32px;
}

@media screen and (max-width: 991px) {
    .matters_section h2 {
        font-size: 31px !important;
    }

    .matter-card h2 {
        font-size: 26px !important;
    }
}

@media screen and (max-width: 400px) {

    .matters_section h2 {
        font-size: 26px !important;
    }
}