@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
    font-family: "Sneaker";
    src: url("../fonts/Sneaker.woff2") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat.woff2") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MontserratBold";
    src: url("../fonts/Montserrat-SemiBold.woff2") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --c1: #F2FF33;
    --heading-font: "Sneaker", sans-serif;
    --body-font: "Montserrat", sans-serif;
    /* --body-bold-font: "Montserrat-SemiBold", sans-serif; */
    --button-shadow: -6px 6px 11px 0px #00000069;
}

.basket-wrapper {
    width: 100%;
    position: relative;
}

.basket-lottie {
    width: 100%;
    height: 100%;
}

.basket-lottie svg {
    width: 100%;
    height: auto;
    transform: translateY(-120px);
}

/* bottom left text */

.bottom-text {
    position: absolute;
    bottom: 10%;
    left: 80px;
    max-width: 330px;
    opacity: 0;
    line-height: 70px;
    pointer-events: none;
}

.bottom-text h2.heading_about {
    font-size: 42px !important;
    font-weight: 700;
    line-height: 38px;

}

.volleyball_anim_content h2.heading_about {
    color: #000000;
}

/* .middle-text h2 {
    font-size: 40px !important;
} */

.middle-text h2 {
    font-size: 70px;
}

.middle-text {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    width: 50%;
    margin: auto;
    transform: none !important;
    text-align: center;
    z-index: 10;
    justify-content: center;
    align-items: center;
}

/* center text */

.center-text {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    left: 0;
    right: 0;
    width: 75%;
    margin: auto;
    /* transform: none !important; */
    text-align: center;
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.left_fonder_content h2 {
    font-family: var(--body-font) !important;
    font-weight: bolder;
    color: #000000;
}

.left_fonder_content h2:last-child {
    font-family: var(--body-font) !important;
    font-size: 17px;
}

.left_fonder_content h2 .letter {
    font-family: var(--body-font) !important;
}

.volleyball_anim_content,
.archery_anim_content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    max-width: 1900px;
    margin: auto;
    left: 0;
    right: 0;
}

@media screen and (min-width: 768px) {
    .basket-section {
        /* background-color: #ffffff; */
        position: relative;
    }
}

@media screen and (max-width: 767px) {
    .mobile-discover-v12 svg {
        display: none;
    }

    .small_sm_abt_heading h2 {
        font-size: 20px !important;
    }

    .volleyball_anim_content {
        position: relative;
    }

    .basket-section {
        /* background-color: #0e0e0e; */
        height: auto !important;
    }

    .left_fonder_content {
        margin-top: 10px;
    }

    .left_fonder_content h2 {
        color: #ffffff;
        font-weight: bolder;
    }

    .left_fonder_content h2:last-child {
        font-size: 17px;
        font-weight: 500;
    }

    .bottom-text,
    .center-text {
        position: relative;
        transform: none !important;
    }

    .bottom-text {
        top: 0;
        left: 10px;
        max-width: 100%;
        color: #ffffff;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 5px;
    }

    .bottom-text h2 {
        text-align: center;
        color: #ffffff;
    }

    .bottom-text h2.small_sm_abt_heading,
    .bottom-text h2 span {
        font-size: 18px !important;
        color: #ffffff;
        font-family: var(--body-font) !important;
    }

    .center-text {
        top: 0;
        left: 0;
        width: 85%;
        margin: 40px auto 0;
    }

    .middle-text {
        width: 100%;
        position: relative;
        color: #ffffff;
    }

    .volleyball_anim_content h2.main_heading_about {
        color: #ffffff;
    }

    .middle-text h2 {
        font-size: 32px !important;
    }

    .basket-section {
        position: relative;
    }
}

@media (min-width: 992px) and (max-width: 1110px) {
    .middle-text h2 {
        font-size: 55px;
    }
}

@media screen and (max-width: 915px) {
    .middle-text h2 {
        font-size: 40px;
    }
}

@media (min-width: 992px) and (min-width: 1220px) {
    .middle-text h2 {
        font-size: 47px;
    }
}